<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='css/foundation.css'/>
  <link rel='stylesheet' href='css/main.css'/>
</head>

<body>
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#howitworks">How It Works</a></li>
    </ul>
    
  {{{body}}}
</body>
</html>