<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='css/foundation.css'/>
  <link rel='stylesheet' href='css/main.css'/>
  <link rel="icon" type="image/png" href="favicon/favicon.ico">
</head>

<body>

  <div class="hero-full-screen">
    <h1 class="hide">Hero</h1>
      <div id="nav">
            <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
              <div class="title-bar-left">
                <a href="/"><img src="images/logo.png" alt="Logo"></a>
              </div>
              <div class="title-bar-right"><button class="menu-icon" type="button" data-toggle="responsive-menu"></button></div>
            </div>

          <div class="top-bar">
            
            <div class="top-bar-left">
              <a href="/">
              <img class="hide-for-small-only" src="images/logo.png" alt="Logo">
              </a>
            </div>
            
            <div class="top-bar-right" id="responsive-menu">
              <ul class="menu vertical medium-horizontal">
                <li><a href="/">Home</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#howitworks">How It Works</a></li>
              </ul>
            </div>

            
        </div>

        <h1 class="hero-title">{{heading}}</h1>
        <p class="hero-desc">{{tagline}}</p>

            <div class="bottom-content-section" data-magellan data-threshold="0">
              <a href="#functionality"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z"/></svg></a>
            </div>
        </div>
        </div>

  <div class="grid-container" id="main-content-section">
  
  <div class="grid-x grid-margin-x" id="features">
  <h1 class="hide">Features</h1>
    <div class="card cell medium-4 columns">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M160 224v64h320v-64c0-35.3 28.7-64 64-64h32c0-53-43-96-96-96H160c-53 0-96 43-96 96h32c35.3 0 64 28.7 64 64zm416-32h-32c-17.7 0-32 14.3-32 32v96H128v-96c0-17.7-14.3-32-32-32H64c-35.3 0-64 28.7-64 64 0 23.6 13 44 32 55.1V432c0 8.8 7.2 16 16 16h64c8.8 0 16-7.2 16-16v-16h384v16c0 8.8 7.2 16 16 16h64c8.8 0 16-7.2 16-16V311.1c19-11.1 32-31.5 32-55.1 0-35.3-28.7-64-64-64z"/></svg>
      <h2>Comfort</h2>
      <hr>
      <p>Our product allows users to have comfort at the tip of their fingers. Want to change your home's temperature without getting up from the couch? Want to open the windows in the kitchen without having to stop cooking? The ThermoSecuritySystem&trade; allows you to be comfortable with ease.</p>
    </div>

    <div class="card cell medium-4 columns">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"/></svg>
      <h2>Convenience</h2>
      <hr>
      <p>Our product's system was created to give users the most convenient way to secure and change the temperature in their home. With voice activation, facial recognition and a user-friendly interface, the ThermoSecuritySystem&trade; will make your life simpler.</p>
    </div>

    <div class="card cell medium-4 columns">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M634.91 154.88C457.74-8.99 182.19-8.93 5.09 154.88c-6.66 6.16-6.79 16.59-.35 22.98l34.24 33.97c6.14 6.1 16.02 6.23 22.4.38 145.92-133.68 371.3-133.71 517.25 0 6.38 5.85 16.26 5.71 22.4-.38l34.24-33.97c6.43-6.39 6.3-16.82-.36-22.98zM320 352c-35.35 0-64 28.65-64 64s28.65 64 64 64 64-28.65 64-64-28.65-64-64-64zm202.67-83.59c-115.26-101.93-290.21-101.82-405.34 0-6.9 6.1-7.12 16.69-.57 23.15l34.44 33.99c6 5.92 15.66 6.32 22.05.8 83.95-72.57 209.74-72.41 293.49 0 6.39 5.52 16.05 5.13 22.05-.8l34.44-33.99c6.56-6.46 6.33-17.06-.56-23.15z"/></svg>
      <h2>Connectivity</h2>
      <hr>
      <p>The ThermoSecuritySystem&trade; can be accessed across a variety of platforms using different smart devices. From Alexa, to your Apple Watch, our product is meant to be compatible.</p>
    </div>

  </div>

<div class="grid-x grid-margin-x" id="functionality">
  <div class="large-12 cell columns">
    <h1 class="hide">Functionality</h1>
    <h1>Features</h1>
    <hr>
    <button class="button">Light/Dark Mode</button>
  </div>
</div>

  <div class="grid-x grid-margin-x" id="mockups">
    <div class="large-6 cell columns">
      <img class="mockup" src="images/mockup-light.png" alt="Light Mode">
    </div>
    <div class="large-6 cell columns">
      <img class="render" src="images/light-mode.png" alt="Light Mode">
    </div>
  </div>

  <div class="grid-x grid-margin-x" id="icons-first">
    <div class="medium-3 cell columns">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 144.03 144.03"><defs><style>.cls-1{fill:url(#linear-gradient);}.cls-2{fill:#fff;}</style><linearGradient id="linear-gradient" x1="71.09" y1="150.99" x2="72.63" y2="19.29" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#d49997"/><stop offset="1" stop-color="#4374a1"/></linearGradient></defs><title>alexa</title><circle id="button_alexa" class="cls-1" cx="72.01" cy="72.01" r="72.01"/><path class="cls-2" d="M144.31,172.59a43.25,43.25,0,1,0,43.25,43.25A43.32,43.32,0,0,0,144.31,172.59Zm-6.78,86V250a7.6,7.6,0,0,0-4.7-7,29.49,29.49,0,1,1,41-27.16C173.8,234.94,159,253,137.53,258.54Z" transform="translate(-71.96 -143.67)"/></svg>
      <h2>Alexa</h2>
      <hr>
      <p>Speak to Amazon's Alexa and regulate indoor humidity to prevent frost buildup on your outside windows.</p>
    </div>
    <div class="medium-3 cell columns">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 144.03 144.03"><defs><style>.cls-1{fill:url(#linear-gradient);}.cls-2{fill:#fff;}</style><linearGradient id="linear-gradient" x1="71.09" y1="150.99" x2="72.63" y2="19.29" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#d49997"/><stop offset="1" stop-color="#4374a1"/></linearGradient></defs><title>cam</title><circle id="button_cams" class="cls-1" cx="72.01" cy="72.01" r="72.01"/><path class="cls-2" d="M179.2,179.34H157a.92.92,0,0,0-.92.92v2.45a.92.92,0,0,0,.92.92h18.88v18.88a.92.92,0,0,0,.92.92h2.45a.92.92,0,0,0,.92-.92V180.26A.92.92,0,0,0,179.2,179.34Z" transform="translate(-71.96 -143.67)"/><path class="cls-2" d="M180.12,250.09V227.84a.92.92,0,0,0-.92-.92h-2.45a.92.92,0,0,0-.92.92v18.88H157a.92.92,0,0,0-.92.91v2.46a.92.92,0,0,0,.92.92H179.2A.92.92,0,0,0,180.12,250.09Z" transform="translate(-71.96 -143.67)"/><path class="cls-2" d="M109.07,251h22.26a.92.92,0,0,0,.91-.92v-2.46a.91.91,0,0,0-.91-.91H112.45V227.84a.92.92,0,0,0-.92-.92h-2.46a.92.92,0,0,0-.91.92v22.25A.92.92,0,0,0,109.07,251Z" transform="translate(-71.96 -143.67)"/><path class="cls-2" d="M108.16,180.26v22.25a.92.92,0,0,0,.91.92h2.46a.92.92,0,0,0,.92-.92V183.63h18.88a.92.92,0,0,0,.91-.92v-2.45a.92.92,0,0,0-.91-.92H109.07A.92.92,0,0,0,108.16,180.26Z" transform="translate(-71.96 -143.67)"/><path class="cls-2" d="M144,194.84a20.24,20.24,0,1,0,20.24,20.23A20.24,20.24,0,0,0,144,194.84Zm0,35.62a15.39,15.39,0,1,1,15.39-15.39A15.39,15.39,0,0,1,144,230.46Z" transform="translate(-71.96 -143.67)"/><path class="cls-2" d="M144,185.32a29.76,29.76,0,1,0,29.75,29.75A29.75,29.75,0,0,0,144,185.32Zm0,54.75a25,25,0,1,1,25-25A25,25,0,0,1,144,240.07Z" transform="translate(-71.96 -143.67)"/><path class="cls-2" d="M153.6,217.76h0a2.68,2.68,0,0,1-2.68-2.68,6.94,6.94,0,0,0-7-6.89,2.68,2.68,0,0,1,0-5.36h0a12.31,12.31,0,0,1,12.32,12.26A2.68,2.68,0,0,1,153.6,217.76Z" transform="translate(-71.96 -143.67)"/></svg>
    <h2>Cameras</h2>
    <hr>
    <p>Check any room in the house through the systems remote and portable cameras.</p>
    </div>
    <div class="medium-3 cell columns">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 144.03 144.03"><defs><style>.cls-1{fill:url(#linear-gradient);}.cls-2{fill:#fff;}</style><linearGradient id="linear-gradient" x1="71.09" y1="150.99" x2="72.63" y2="19.29" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#d49997"/><stop offset="1" stop-color="#4374a1"/></linearGradient></defs><title>doors</title><circle id="button_doors" class="cls-1" cx="72.01" cy="72.01" r="72.01"/><path class="cls-2" d="M169.6,174.28l-33.28-5.77a2.7,2.7,0,0,0-3.17,2.66v1.22H119.3a2.27,2.27,0,0,0-2.27,2.27v75.1a2.28,2.28,0,0,0,4.55,0V176.94h11.57v76.54a2.71,2.71,0,0,0,3.18,2.66l33.29-6a2.69,2.69,0,0,0,2.22-2.66V176.94A2.69,2.69,0,0,0,169.6,174.28ZM141.48,218.5a2.82,2.82,0,1,1,2.59-2.81A2.71,2.71,0,0,1,141.48,218.5Z" transform="translate(-71.96 -143.67)"/></svg>
    <h2>Doors</h2>
    <hr>
    <p>Lock and unlock all your doors remotely.  </p>
    </div>
    <div class="medium-3 cell columns">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 144.03 144.03"><defs><style>.cls-1{fill:url(#linear-gradient);}.cls-2{fill:#fff;}</style><linearGradient id="linear-gradient" x1="71.09" y1="150.99" x2="72.63" y2="19.29" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#d49997"/><stop offset="1" stop-color="#4374a1"/></linearGradient></defs><title>lock</title><circle id="button_security" class="cls-1" cx="72.01" cy="72.01" r="72.01"/><path class="cls-2" d="M167.58,205.11h-2.53v-15.7a14.28,14.28,0,0,0-14.24-14.24H138.74a14.28,14.28,0,0,0-14.24,14.24v15.7h-2.71a6.63,6.63,0,0,0-6.61,6.61V242.6a6.63,6.63,0,0,0,6.61,6.61h45.79a6.64,6.64,0,0,0,6.61-6.61V211.72A6.64,6.64,0,0,0,167.58,205.11Zm-33.5-.18v-14.4a6,6,0,0,1,6-6h9.22a6,6,0,0,1,6,6v14.58H134.08Zm13.78,20.88v11.83a2.29,2.29,0,0,1-2.28,2.28h-2a2.29,2.29,0,0,1-2.29-2.28V226a6,6,0,1,1,6.56-.22Z" transform="translate(-71.96 -143.67)"/></svg>
    <h2>Security</h2>
    <hr>
    <p>Access the home security system, no matter where you are.</p>
    </div>
  </div>

  <div class="grid-x grid-margin-x" id="icons-second">
    <div class="medium-3 cell columns">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 144.03 144.03"><defs><style>.cls-1{fill:url(#linear-gradient);}.cls-2{fill:#fff;}</style><linearGradient id="linear-gradient" x1="71.09" y1="150.99" x2="72.63" y2="19.29" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#d49997"/><stop offset="1" stop-color="#4374a1"/></linearGradient></defs><title>rooms</title><circle id="button_rooms" class="cls-1" cx="72.01" cy="72.01" r="72.01"/><g id="icon_room"><path class="cls-2" d="M187.54,238.43v-47a2.29,2.29,0,0,0-.31-1.16,2.36,2.36,0,0,0-1.5-1.73l-39.94-14.36a2.37,2.37,0,0,0-2.34-.4l-39.77,15a2.37,2.37,0,0,0-1.51,2.55c0,.05,0,.09,0,.14V239a8.16,8.16,0,0,1,.13,2.29h0a2.35,2.35,0,0,0,.52.81,2.39,2.39,0,0,0,1,.7l40.79,14.67a2.33,2.33,0,0,0,1.87-.12l.07,0,38.83-16a2.37,2.37,0,0,0,2.1-1.56A2.28,2.28,0,0,0,187.54,238.43Zm-42.2,14.25-34.08-12.26,33.86-12.73a2.38,2.38,0,0,0,.67-.4l32.68,11.76Zm37.47-17.1-8.7-3.13V202.31a2.12,2.12,0,0,0-2.12-2.12l-15.66-6.14a2.12,2.12,0,0,0-2.12,2.11v29.13l-7.39-2.66V179.55l36,12.95Zm-11.75-4.44a1.49,1.49,0,0,1,0,.21l-13.77-5,.33-26.2c0-1,.35-1.77,1.15-1.77l10.84,4.85a1.67,1.67,0,0,1,1.47,1.81Zm-29-7.37L106.9,237V192.56l35.18-13.23Z" transform="translate(-71.96 -143.67)"/><path class="cls-2" d="M115.54,204.24l-.34,17.13a2.44,2.44,0,0,0,3.13,1.42l16-6.57a2.43,2.43,0,0,0,1.55-2.66,13.07,13.07,0,0,1-.11-2.26l.11-15.68a2.44,2.44,0,0,0-3.13-1.42L117,200.4a2.44,2.44,0,0,0-1.55,2.66A6.75,6.75,0,0,1,115.54,204.24Zm3.38.7a1.61,1.61,0,0,1,1-1.74l10.3-4a1.58,1.58,0,0,1,2,.93l-.07,10.25a10.48,10.48,0,0,0,.07,1.48,1.58,1.58,0,0,1-1,1.73l-10.44,4.29a1.58,1.58,0,0,1-2-.92l.22-11.19A5.16,5.16,0,0,0,118.92,204.94Z" transform="translate(-71.96 -143.67)"/><line class="cls-2" x1="53.73" y1="56.26" x2="53.82" y2="73.48"/><rect class="cls-2" x="124.34" y="199.93" width="2.78" height="17.22" transform="translate(-73.06 -143) rotate(-0.3)"/><line class="cls-2" x1="61.85" y1="62.51" x2="45.29" y2="67.23"/><rect class="cls-2" x="116.92" y="207.15" width="17.22" height="2.78" transform="translate(-124.37 -101.22) rotate(-15.93)"/><polygon class="cls-2" points="34.93 96.32 72.92 111.5 110.85 95.19 72.92 81.42 34.93 96.32"/></g></svg>
    <h2>Rooms</h2>
    <hr>
    <p>Adjust a room's temperature, smoke status and carbon monoxide status.</p>
    </div>
    <div class="medium-3 cell columns">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 144.03 144.03"><defs><style>.cls-1{fill:url(#linear-gradient);}.cls-2{fill:#231f20;}.cls-3{fill:#fff;}</style><linearGradient id="linear-gradient" x1="71.09" y1="150.99" x2="72.63" y2="19.29" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#d49997"/><stop offset="1" stop-color="#4374a1"/></linearGradient></defs><title>Untitled-2</title><circle id="button_temp" class="cls-1" cx="72.01" cy="72.01" r="72.01"/><g id="icon_temp"><path class="cls-2" d="M131.3,172.51" transform="translate(-71.96 -143.67)"/><path class="cls-3" d="M151.23,229a8.73,8.73,0,0,0,.27-2.12V185.47c0-5.31-4.82-9.65-10.71-9.65h0c-5.88,0-10.7,4.34-10.7,9.65V226.9a8.73,8.73,0,0,0,.27,2.12,14.29,14.29,0,0,0-6,11.45c0,8.18,7.35,14.81,16.42,14.81s16.43-6.63,16.43-14.81A14.29,14.29,0,0,0,151.23,229Zm-10.44,19.45a8.65,8.65,0,0,1-3.31-16.64V201.78a2.68,2.68,0,0,1,2.68-2.68h1.39a2.69,2.69,0,0,1,2.68,2.68v30.11a8.65,8.65,0,0,1-3.44,16.58Z" transform="translate(-71.96 -143.67)"/><rect class="cls-3" x="83.29" y="41.8" width="12.98" height="3.98" rx="1.9"/><rect class="cls-3" x="83.29" y="53.44" width="12.98" height="3.98" rx="1.9"/><rect class="cls-3" x="83.29" y="65.06" width="12.98" height="3.98" rx="1.9"/><rect class="cls-3" x="83.29" y="76.69" width="12.98" height="3.98" rx="1.9"/></g></svg>
    <h2>Temperature</h2>
    <hr>
    <p>Adjust your home's temperature by decreasing or increasing the heat and cool setting points.</p>
    </div>
    <div class="medium-3 cell columns">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 144.03 144.03"><defs><style>.cls-1{fill:url(#linear-gradient);}.cls-2{fill:#fff;}</style><linearGradient id="linear-gradient" x1="71.09" y1="150.99" x2="72.63" y2="19.29" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#d49997"/><stop offset="1" stop-color="#4374a1"/></linearGradient></defs><title>weather</title><circle id="button_weather" class="cls-1" cx="72.01" cy="72.01" r="72.01"/><rect class="cls-2" x="145.56" y="192.44" width="12.32" height="4.58" rx="2.19" transform="translate(-163.96 17.84) rotate(-45)"/><rect class="cls-2" x="106.13" y="231.87" width="12.32" height="4.58" rx="2.19" transform="translate(-203.39 1.51) rotate(-45)"/><rect class="cls-2" x="29.27" y="65.1" width="12.32" height="4.58" rx="2.19"/><rect class="cls-2" x="125.96" y="185.54" width="12.32" height="4.58" rx="2.19" transform="translate(-126.41 173.47) rotate(-90)"/><rect class="cls-2" x="106.13" y="192.44" width="12.32" height="4.58" rx="2.19" transform="translate(99.89 -168.85) rotate(45)"/><path class="cls-2" d="M184,241a12.69,12.69,0,0,0-12.32-12.8A19.85,19.85,0,0,0,132,230c0,.46,0,.93,0,1.39a10.29,10.29,0,0,0-1.57-.13,11.27,11.27,0,0,0,0,22.53H174l.46-.1C180.16,252.45,184,247.13,184,241Z" transform="translate(-70.7 -146.48)"/><path class="cls-2" d="M139.82,210.26l.11,0a2.6,2.6,0,0,0,1.22-3.57,11.15,11.15,0,0,0-13.83-5.43,10.68,10.68,0,0,0-6.5,6.45,11.6,11.6,0,0,0,5.76,14.69,3.21,3.21,0,0,0,4.42-2A16.75,16.75,0,0,1,139.82,210.26Z" transform="translate(-70.7 -146.48)"/></svg>
    <h2>Weather</h2>
    <hr>
    <p>View the current indoor or outdoor temperature, daily forecast and the weekly forecast.</p>
    </div>
    <div class="medium-3 cell columns">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 144.03 144.03"><defs><style>.cls-1{fill:url(#linear-gradient);}.cls-2{fill:#fff;}</style><linearGradient id="linear-gradient" x1="71.09" y1="150.99" x2="72.63" y2="19.29" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#d49997"/><stop offset="1" stop-color="#4374a1"/></linearGradient></defs><title>windows</title><circle id="button_windows" class="cls-1" cx="72.01" cy="72.01" r="72.01"/><g id="icon_window"><path class="cls-2" d="M118.7,244.2h48.38a2,2,0,0,0,2-2V188.52a2,2,0,0,0-2-2H118.7a2,2,0,0,0-2,2v53.71A2,2,0,0,0,118.7,244.2Zm2-26.85h20.24v22.9H120.67Zm24.19,22.9v-22.9H165.1v22.9ZM165.1,213.4H144.86V190.5H165.1Zm-24.19-22.9v22.9H120.67V190.5Z" transform="translate(-71.96 -143.67)"/><path class="cls-2" d="M176.39,176.21h-67a2,2,0,0,0-2,2v74.37a2,2,0,0,0,2,2h67a2,2,0,0,0,2-2V178.19A2,2,0,0,0,176.39,176.21Zm-2,74.38h-63V180.16h63.05Z" transform="translate(-71.96 -143.67)"/></g></svg>
    <h2>Windows</h2>
    <hr>
    <p>Open and shut your home’s windows with the click of a button.</p>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="large-12 cell columns" id="howitworks">
      <div class="responsive-embed">
        <video controls>
          <source src="video/promo.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        </div>
    </div>
  </div>

  <div class="grid-x grid-margin-x" id="packaging">
    <div class="large-12 cell columns">
      <h1>Purchase Yours Today</h1>
      <hr>
      <button class="button">Store Locator</button>
      <img src="images/packaging.png" alt="Packaging">
    </div>
  </div>


  </div><!-- end container -->

  <div class="grid-x">
    <h1 class="hide">Footer</h1>
    <div class="cell large-12 columns">
      <footer>
        <p>Copyright &copy; 2019 HouseCom&trade;. All Rights Reserved.</p>
        <svg class="footer-svg" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 171.07 205.13"><defs><style></style></defs><title>logo-icon</title><path class="cls-1" d="M85.52,27.59c28.9,0,52.91,29.24,57,60.61A4.29,4.29,0,0,0,145,91.6L162.63,100l6.46-4.32C166.32,43.07,129.92,1.5,85.46,1.5S4.85,42.76,1.85,95l6.46,4.25,17.84-8.9A4.34,4.34,0,0,0,28.64,87C32.94,56,56.84,27.59,85.52,27.59Z" transform="translate(-0.01 -1.5)"/><path class="cls-1" d="M167.82,117.07l-66-33.64a36.32,36.32,0,0,0-33.29-.15L3.28,115.85A6.05,6.05,0,0,0,0,121.3v79.31a5.88,5.88,0,0,0,5.69,6H65.78a5.88,5.88,0,0,0,5.69-6V162.78c-6.52-3.68-11.55-9.41-14.93-13a5.6,5.6,0,0,1-.12-7.65c16.51-16.91,29.84-15.43,29.84-15.43,16.21.58,25.09,11,29.28,17a5.48,5.48,0,0,1-.13,6.51A40,40,0,0,1,99.7,162.82v37.81a5.88,5.88,0,0,0,5.69,6h60a5.88,5.88,0,0,0,5.69-6v-78.1A6.07,6.07,0,0,0,167.82,117.07Z" transform="translate(-0.01 -1.5)"/><path class="cls-1" d="M85.21,133.2a14.44,14.44,0,0,0-13.63,13.87,14.26,14.26,0,0,0,5,11.34,1.37,1.37,0,0,0,1.92-.17,1.41,1.41,0,0,0,.31-.93,7.64,7.64,0,0,1,.17-1.58,7.13,7.13,0,0,1,14.1,1.54h0a1.4,1.4,0,0,0,1.43,1.37,1.42,1.42,0,0,0,.92-.37A14.33,14.33,0,0,0,85.24,133.2Z" transform="translate(-0.01 -1.5)"/></svg>
        </footer>
    </div>
  </div>
  
  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/what-input.js"></script>
  <script src="js/vendor/foundation.js"></script>
  <script src="js/app.js"></script>
  <script type="module" src="js/main.js"></script>  
</body>
</html>