<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='css/foundation.css'/>
  <link rel='stylesheet' href='css/main.css'/>
</head>

<body>

  <div class="hero-full-screen">
      <div id="nav">
            <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
              <div class="title-bar-left"><a href="#"><img src="images/logo.svg" alt="Vivid Design Agency"></a></div>
              <div class="title-bar-right"><button class="menu-icon" type="button" data-toggle="responsive-menu"></button></div>
            </div>

          <div class="top-bar">
            
            <div class="top-bar-left">
              <a href="#"><svg class="hide-for-small-only" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1199.5 228.88"><defs><style>.cls-1{font-size:60px;font-family:Rajdhani-Regular, Rajdhani;}.cls-1,.cls-3,.cls-4{fill:#fff;}.cls-2{font-size:70px;font-family:Rajdhani-Medium, Rajdhani;}.cls-3{stroke:#fff;stroke-miterlimit:10;stroke-width:3px;}</style></defs><title>logo</title><text class="cls-1" transform="translate(201.82 130.7)">HouseCom™ <tspan class="cls-2"><tspan x="0" y="73">ThermoSecurity™ System</tspan></tspan></text><path class="cls-3" d="M371.06,423.52c28.9,0,52.91,29.24,57,60.61a4.29,4.29,0,0,0,2.49,3.4l17.62,8.36,6.46-4.32C451.86,439,415.46,397.43,371,397.43c-44.32,0-80.61,41.26-83.61,93.5l6.46,4.25,17.84-8.9a4.34,4.34,0,0,0,2.49-3.36C318.48,451.89,342.38,423.52,371.06,423.52Z" transform="translate(-285.54 -395.93)"/><path class="cls-4" d="M445.1,493l1.74-3.72a1.92,1.92,0,0,1,2.23-1,1.18,1.18,0,0,0,.59,0l3.9-1.12a1,1,0,0,1,1.11.43c.74,1.34,1.66,3.83,1.44,5.35a4.52,4.52,0,0,1-.22.68l-1.66,3.56a2.93,2.93,0,0,1-3.84,1.43l-3.91-1.78A2.86,2.86,0,0,1,445.1,493Z" transform="translate(-285.54 -395.93)"/><path class="cls-4" d="M296.84,492.33l-1.73-3.71a1.93,1.93,0,0,0-2.24-1,1,1,0,0,1-.58,0l-3.9-1.11a1,1,0,0,0-1.11.43c-.75,1.34-1.71,3.67-1.42,5.39a4.56,4.56,0,0,0,.19.63l1.66,3.54a2.92,2.92,0,0,0,3.83,1.43l4.26-2C297.24,495.3,297.51,493.76,296.84,492.33Z" transform="translate(-285.54 -395.93)"/><path class="cls-4" d="M453.36,513l-66-33.64a36.32,36.32,0,0,0-33.29-.15l-65.25,32.57a6.05,6.05,0,0,0-3.27,5.45v79.31a5.87,5.87,0,0,0,5.69,6h60.08a5.87,5.87,0,0,0,5.69-6V558.71c-6.52-3.68-11.55-9.41-14.93-13a5.59,5.59,0,0,1-.12-7.65c16.51-16.91,29.84-15.43,29.84-15.43,16.21.58,25.09,11,29.28,17a5.48,5.48,0,0,1-.13,6.51,40,40,0,0,1-15.71,12.61v37.81a5.87,5.87,0,0,0,5.69,6h60a5.87,5.87,0,0,0,5.69-6v-78.1A6.09,6.09,0,0,0,453.36,513Z" transform="translate(-285.54 -395.93)"/><path class="cls-4" d="M370.75,529.13A14.44,14.44,0,0,0,357.12,543a14.28,14.28,0,0,0,5,11.34,1.36,1.36,0,0,0,2.23-1.1,7.79,7.79,0,0,1,.17-1.58,7.13,7.13,0,0,1,14.1,1.54h0a1.4,1.4,0,0,0,2.35,1,14.33,14.33,0,0,0-10.19-25.07Z" transform="translate(-285.54 -395.93)"/></svg></a>
            </div>
            
            <div class="top-bar-right" id="responsive-menu">
              <ul class="menu vertical medium-horizontal">
                <li><a href="/">Home</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#howitworks">How It Works</a></li>
              </ul>
            </div>

            
        </div>

        <h1>{{heading}}</h1>
        <p>{{tagline}}</p>

            <div class="bottom-content-section" data-magellan data-threshold="0">
              <a href="#main-content-section"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z"/></svg></a>
            </div>
        </div>
        </div>

  <div class="grid-container" id="main-content-section">
  
  <div class="grid-x grid-margin-x">

    <div class="card cell small-4 columns">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M160 224v64h320v-64c0-35.3 28.7-64 64-64h32c0-53-43-96-96-96H160c-53 0-96 43-96 96h32c35.3 0 64 28.7 64 64zm416-32h-32c-17.7 0-32 14.3-32 32v96H128v-96c0-17.7-14.3-32-32-32H64c-35.3 0-64 28.7-64 64 0 23.6 13 44 32 55.1V432c0 8.8 7.2 16 16 16h64c8.8 0 16-7.2 16-16v-16h384v16c0 8.8 7.2 16 16 16h64c8.8 0 16-7.2 16-16V311.1c19-11.1 32-31.5 32-55.1 0-35.3-28.7-64-64-64z"/></svg>
      <h2>Comfort</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, perferendis delectus possimus reprehenderit excepturi quas minus, eveniet quibusdam voluptates, ipsam aperiam! Eveniet, blanditiis. Distinctio dignissimos excepturi quos perferendis beatae ipsum.</p>
    </div>

    <div class="card cell small-4 columns">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"/></svg>
      <h2>Convenience</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At qui nihil ipsum eaque, voluptate doloribus repellendus animi, possimus aperiam culpa, odio pariatur voluptatibus. Reiciendis, corrupti quidem quas inventore dolorum aut!</p>
    </div>

    <div class="card cell small-4 columns">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M634.91 154.88C457.74-8.99 182.19-8.93 5.09 154.88c-6.66 6.16-6.79 16.59-.35 22.98l34.24 33.97c6.14 6.1 16.02 6.23 22.4.38 145.92-133.68 371.3-133.71 517.25 0 6.38 5.85 16.26 5.71 22.4-.38l34.24-33.97c6.43-6.39 6.3-16.82-.36-22.98zM320 352c-35.35 0-64 28.65-64 64s28.65 64 64 64 64-28.65 64-64-28.65-64-64-64zm202.67-83.59c-115.26-101.93-290.21-101.82-405.34 0-6.9 6.1-7.12 16.69-.57 23.15l34.44 33.99c6 5.92 15.66 6.32 22.05.8 83.95-72.57 209.74-72.41 293.49 0 6.39 5.52 16.05 5.13 22.05-.8l34.44-33.99c6.56-6.46 6.33-17.06-.56-23.15z"/></svg>
      <h2>Connectivity</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, laboriosam! Eaque eius quam perspiciatis consequuntur. Expedita veniam ab, accusantium quo sequi sed suscipit. Facere aspernatur libero modi consectetur ipsam quam!</p>
    </div>

  </div>

  </div>

  <div class="grid-x">
    <div class="cell large-12 columns">
      <footer>
        <p>Copyright &copy; 2019 HouseCom. All Rights Reserved.</p>
      </footer>
    </div>
  </div>
  </div>

  {{{body}}}

  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/what-input.js"></script>
  <script src="js/vendor/foundation.js"></script>
  <script src="js/app.js"></script>
  <script type="module" src="js/main.js"></script>  
</body>
</html>